---
layout: default
title: Posts
nav_order: 3
permalink: /posts/
search_exclude: true
---

<h1>Posts</h1>

<h2 class="text-delta">Table of contents</h2>

<ul id="markdown-toc">
	{% for post in site.posts %}
	<li>
		<a href="{{ post.url | absolute_url }}">{{ post.title }}</a> - {{ post.date | date_to_string }}
	</li>
	{% endfor %}
</ul>


{% for post in site.posts %}
<hr></hr>
<h1>
	<a href="{{ post.url | absolute_url }}">
		{{ post.title }}
	</a>
	- {{ post.date | date_to_string }}
</h1>
{{ post.content }}
{% endfor %}

