a {
color: #ff7f00;
}

::selection {
background: #ff7f00;
}

a:not([class]):hover {
background-image: linear-gradient(rgba(255, 127, 0, 1) 0%, rgba(255, 127, 0, 1) 100%);
}

li.navigation-list-item a {
color: #fff;
}

.menu-button {
color: #ff7f00;
}

.page-content .anchor-heading svg {
fill: #ff7f00;
}

.btn {
color: #ff7f00;
}

.btn-outline {
color: #ff7f00;
}

.search-input:focus + .search-icon {
fill: #ff7f00; }

.search-result-highlight {
font-weight: bold;
color: #ff7f00; }


.highlight pre { background-color: #272822; color: #F8F8F2; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
.highlight .c { color: #75715E; }
.highlight .cp { color: #75715E; }
.highlight .c1 { color: #75715E; }
.highlight .cs { color: #75715E; }
.highlight .cm { color: #75715E; }
.highlight .m { color: #AE81FF; }
.highlight .mf { color: #AE81FF; }
.highlight .mi { color: #AE81FF; }
.highlight .mo { color: #AE81FF; }
.highlight .se { color: #AE81FF; }
.highlight .kc { color: #AE81FF; }
.highlight .k { color: #66D9EF; font-style: italic; }
.highlight .kd { color: #66D9EF; font-style: italic; }
.highlight .kn { color: #F92672; }
.highlight .kt { color: #66D9EF; font-style: italic; }
.highlight .s { color: #E6DB74; }
.highlight .sb { color: #E6DB74; }
.highlight .sc { color: #E6DB74; }
.highlight .sd { color: #E6DB74; }
.highlight .s2 { color: #E6DB74; }
.highlight .sh { color: #E6DB74; }
.highlight .si { color: #E6DB74; }
.highlight .sx { color: #E6DB74; }
.highlight .sr { color: #E6DB74; }
.highlight .s1 { color: #E6DB74; }
.highlight .ss { color: #E6DB74; }
.highlight .na { color: #A6E22E; }
.highlight .nc { color: #A6E22E; font-style: italic; text-decoration: underline; }
.highlight .no { color: #AE81FF; }
.highlight .nd { color: #A6E22E; text-decoration: underline; }
.highlight .ne { color: #A6E22E; text-decoration: underline; }
.highlight .nf { color: #A6E22E; }
.highlight .nt { color: #F92672; }
.highlight .nv { color: #F8F8F2; }
.highlight .ow { color: #F92672; }
.highlight .o { color: #F92672; }
.highlight .n { color: #F8F8F2; }
.highlight .nl { color: #F8F8F2; }
.highlight .nn { color: #F8F8F2; }
.highlight .nx { color: #F8F8F2; }
.highlight .bp { color: #F8F8F2; }
.highlight .p { color: #F8F8F2; }

code {
	background-color: #272822;
	font-family: "Office Code Pro", Menlo, Consolas, Monospace;
	font-weight: 500;
}

.highlight {
	line-height: 0.9 !important;
}