---
layout: default
title: Building
nav_order: 2
permalink: /posts/building
search_exclude: true
parent: All Posts
---

{% assign building_posts = site.posts | where: "categories", "building" %}

<h1>Building</h1>

<h2 class="text-delta">Table of contents</h2>

<ul id="markdown-toc">
	{% for post in building_posts %}
	<li>
		<a href="{{ post.url | absolute_url }}">{{ post.title }}</a> 
		- {{ post.date | date_to_string }}
	</li>
	{% endfor %}
</ul>


{% for post in building_posts %}
<hr></hr>
<h1>
	<a href="{{ post.url | absolute_url }}">
		{{ post.title }}
	</a>
	- {{ post.date | date_to_string }}
</h1>
<article>
	{{ post.content }}
</article>
{% endfor %}

