---
layout: default
title: All Posts
nav_order: 3
permalink: /posts/
search_exclude: true
has_children: true
---

<h1>All Posts</h1>

<h2 class="text-delta">Table of contents</h2>

<ul id="markdown-toc">
	{% for post in site.posts %}
	<li>
		<a href="{{ post.url | absolute_url }}">{{ post.title }}</a> 
		- {{ post.date | date_to_string }}
	</li>
	{% endfor %}
</ul>


{% for post in site.posts %}
<hr></hr>
<h1>
	<a href="{{ post.url | absolute_url }}">
		{{ post.title }}
	</a>
	- {{ post.date | date_to_string }} - {{ post.categories[0] | capitalize }}
</h1>
<article>
	{{ post.content }}
</article>
{% endfor %}

