---
layout: default
title: Programming
nav_order: 1
permalink: /posts/programming
search_exclude: true
parent: All Posts
has_children: true
---

{% assign programming_posts = site.posts | where: "categories", "programming" %}

<h1>Programming</h1>

<h2 class="text-delta">Table of contents</h2>

<ul id="markdown-toc">
	{% for post in programming_posts %}
	<li>
		<a href="{{ post.url | absolute_url }}">{{ post.title }}</a> 
		- {{ post.date | date_to_string }}
	</li>
	{% endfor %}
</ul>


{% for post in programming_posts %}
<hr></hr>
<h1>
	<a href="{{ post.url | absolute_url }}">
		{{ post.title }}
	</a>
	- {{ post.date | date_to_string }}
</h1>
<article>
	{{ post.content }}
</article>
{% endfor %}

